.Footer {
  width: 100%;
  height: 40vh;
  background-color: rgb(2, 42, 77);
  position: fixed;
  bottom: 0;
  /* position: relative; */
}
.Footer .content {
  position: absolute;
  top: 2em;
  bottom: 2em;
  left: 4em;
  right: 4em;
}
.Footer img {
  width: 12em;
}
.Footer p {
  color: white;
  font-family: "poppins", sans-serif;
}

.Footer .details {
  display: flex;
  justify-content: space-between;
  /* gap: 20em; */
}

.Footer .FollowUs .icon {
  border: 2px solid white;
  border-radius: 50%;
  padding: 5px;
  size: 10px;
  cursor: pointer;
}
.Footer .copyright {
  text-align: center;
  line-height: 0.5;
}
